<div class="row">
  <!--APPLICATIONS / SERVICES -->
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span id="settings" class="glyphicon glyphicon-cog pull-right" aria-hidden="false" (click)="showSettingsInfo()" title="View Settings"></span>
        <h3 id="panel-title" class="panel-title">Applications/Services</h3>
      </div>

      <div class="panel-body">
        <div *ngFor="let eurekaApplication of eurekaApplications">
          <div class="bg-info text-center" style="font-weight:bold;">{{eurekaApplication.name}}</div>

            <div class="row" *ngFor="let eurekaService of eurekaApplication.instance" style="margin-bottom: 1em;">
              <div class="col-xs-2">{{eurekaService.app}}</div>
              <div class="col-xs-5">{{eurekaService.instanceId}}</div>
              <div class="col-xs-5 btn-toolbar text-right">
                  <button id="kill" class="btn btn-xs btn-danger" type="button" (click)="kill(eurekaService.instanceId)" title="Kill Service">K</button> 
                  <button id="load" class="btn btn-xs btn-primary" type="button" (click)="load(eurekaService.instanceId)" title="Load Service">L</button> 
                  <button id="exception" class="btn btn-xs btn-warning" type="button" (click)="exception(eurekaService.instanceId)" title="Exception Service">E</button> 
                  <button id="memory" class="btn btn-xs btn-info" type="button" (click)="memory(eurekaService.instanceId)" title="Memory Service">M</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- EVENT LOG -->
  <div class="col-md-6">
    <app-settings *ngIf="showSettings"></app-settings>
    <app-eventlog *ngIf="!showSettings"></app-eventlog>
  </div>

</div>
