<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 id="panel-title" class="panel-title">Event Log</h3>
  </div>

  <div id="events" class="panel-body">
    <table class="table">
      <tbody>
        <tr><th>Date</th><th>Action</th><th>Description</th></tr>
        <tr *ngFor="let event of eventLog">
          <td id="{{event.id}}-date">{{event.created | date: 'MM/dd/yyyy h:m a'}}</td> 
          <td id="{{event.id}}-action">{{event.action}}</td> 
          <td id="{{event.id}}-description">{{event.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>	 	
</div>
