.row.header {
    border-bottom: 2px solid #000;
}
.row.header div {
    font-weight:bold;
}

.row.data {
    padding-top: .5em; 
    padding-bottom: .5em; 
}
/* ALTERNATE ROW COLOR */
.row.data:nth-child(odd){
  background-color: rgb(254, 237, 230);
}

.panel > .panel-heading {
    background-color: rgb(220, 94, 33);
}

span.glyphicon-refresh {
    margin-right: 1em;
}