<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 id="panel-title" class="panel-title">Event Log ({{eventLog ? eventLog.length : '0'}})</h3>
  </div>

  <div id="eventlog" class="panel-body">
    <div class="row header">
      <div class="col-xs-4" >Date</div>
      <div class="col-xs-4" >Action</div>
      <div class="col-xs-4" >Description</div>
    </div>

    <div class="row data" *ngFor="let event of eventLog">
      <div class="col-xs-4">{{event.created | date: 'short'}}</div>
      <div class="col-xs-4">{{event.action}}</div>
      <div class="col-xs-4">{{event.description}}</div>
    </div>

    <!--<table class="table">
      <tbody>
        <tr>
          <th class="created">Date</th>
          <th class="action">Action</th>
          <th class="description">Description</th>
        </tr>
        <tr *ngFor="let event of eventLog">
          <td id="{{event.id}}-date">{{event.created | date: 'MM/dd/yyyy h:mm a'}}</td> 
          <td id="{{event.id}}-action">{{event.action}}</td> 
          <td id="{{event.id}}-description">{{event.description}}</td>
        </tr>
      </tbody>
    </table>-->
  </div>	 	
</div>
