/*
.table th.created {
    width: 20%;
}
.table th.action {
    width: 15%;
}
.table th.description {
    width: 65%;
}
*/

/* For small screen */

.row.eventlog:nth-child(odd){
  background-color: #eaeaea;
}

.panel > .panel-heading {
    background-color: rgb(220, 94, 33);
}