@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.modal-header {
    background-color: rgb(220, 94, 33);
    color: #fff;
}

.modal-body {
    text-align: center;
    font-weight: bold;
}